@model Lab03.Models.Comment 

@{
    ViewData["Title"] = "Details";
}

<h1>Comment and Rating </h1>

<div>
    <h4>Comment and Rating  -- @ViewBag.movie.Title </h4>
    <hr />
    
</div>

<div>
    <a asp-action="Download" asp-route-id="@Model?.Id">Download</a> |
    <a asp-action="AddComment" asp-route-id="@Model?.Id">Comment Add Rating</a> |
    <a asp-action="Index">Back to List</a>
</div>


<br />
<h2>Comments</h2>

 
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

             <input type="hidden" id="movieId" name="movieId" value="@ViewBag.movie.Id" />
            <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />

            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div> 
  
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" type="number" min="1" max="10" step="0.1" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


