@model Lab03.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
 


            <div class="form-group">
                <label asp-for="Genre">Genre:</label>
                <select asp-for="Genre" class="form-control" asp-items="Html.GetEnumSelectList<Lab03.Models.MovieGenre>()">
                    <option value="">Select Genre</option>
                </select>
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>


 


            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseTime" class="control-label"></label>
                <input asp-for="ReleaseTime" class="form-control" type="date" />
                <span asp-validation-for="ReleaseTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" value="5" type="number" min="1" max="10" step="0.1" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>


           
            <div>
                <img id="imagePreview" name="imagePreview" src="" alt="Preview"
                    style="max-width: 300px; max-height: 300px; display:none " />

            </div>
            
 

            <div class="form-group">
                <label class="control-label">Cover File </label>
                <input asp-for="CoverFile" class="form-control" type="file" accept="image/*" onchange="previewImage(this)" />
                <span asp-validation-for="CoverFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Movie File</label>
                <input asp-for="MovieFile" class="form-control" type="file" accept="video/*" />
                <span asp-validation-for="MovieFile" class="text-danger"></span>
            </div>
            
            
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    function previewImage(input) {
        var preview = document.getElementById("imagePreview");
        //set   preview  display  none
         preview.style.display = "none";

        var file = input.files[0];

        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
              //set   preview  display  block
                preview.style.display = "block";
            };
            reader.readAsDataURL(file);
        }
    }
</script>